<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <script src="socket.io/socket.io.js"></script>
    <script>
      const socket = io("http://localhost:3000");
    </script>
  </head>
  <body>
    <h1>Home page</h1>
  </body>
</html>
